
test/.vs/Project1/v16/.suo
test/.vs/Project1/v16/Browse.VC.db
*.ipch
VocabularyTree-master/.vs/VocabularyTree/v16/.suo
VocabularyTree-master/.vs/VocabularyTree/v16/Browse.VC.db
*.db-shm
*.db-wal
*.opendb
*.db
test/Project1/.vs/Project1/v16/.suo
Demo3/.vs/Demo3/v16/.suo
Demo3/.vs/Demo3/v16/.suo
